<section id="wrapper">
<div class="container">

    <section id="content">
      <% if @post.nil? or @post.empty? %>
        <p id="nocontent">
         There are no Blog Posts on this page.. <br>
         Do you want to create an <a href="/post/create" title="Create Blog Post">anonomous Blog entry?</a>
        </p>
      <% else %>
        <p id="post_<%=@content.id%>">
        </p>
      <% end %>


</section>

</div>

  </section>
